<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Booking List</title>
</head>

<body>

<div class="container">

    <!-- navbar starts -->
    <nav class="navbar navbar-expand-sm bg-light bg-dark navbar-dark justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home/list}">Movie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/users/list}">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/timetables/list}">Timetable</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api/booking/list}">Booking</a>
            </li>
        </ul>
    </nav>
    <!-- navbar ends -->

    <h3>Booking List</h3>
    <hr>
    <br>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Timeslot</th>
            <th>Username</th>
            <th>Seats</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="tempBooking : ${bookings}">
            <td th:text="${tempBooking.timetableId.timeslot}"></td>
            <td th:text="${tempBooking.userId.username}"></td>
            <td th:text="${tempBooking.seats}"></td>

            <!-- update functions -->
            <td>
                <a th:href = "@{/api/booking/showFormForUpdate(bookingId = ${tempBooking.id})}"
                   class = "btn btn-warning">
                    Update
                </a>
                <a class="btn btn-danger"
                   onclick="if (!(confirm('Are you sure want to delete this user ???'))) return false"
                   th:href="@{/api/booking/delete(bookingId = ${tempBooking.id})}">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/api/booking/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Booking
    </a>
</div>

</body>
</html>