<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Movie Directory</title>
</head>

<body>

<div class="container">

    <h3>Movie Directory</h3>
    <hr>
    <br>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>Movie Name</th>
            <th>Directors</th>
            <th>Cast</th>
            <th>Category</th>
            <th>Premiere</th>
            <th>Duration</th>
            <th>Language</th>
            <th>Rated</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempMovie : ${movies}">

            <td th:text="${tempMovie.id}"></td>
            <td th:text="${tempMovie.movieName}"></td>
            <td th:text="${tempMovie.directors}"></td>
            <td th:text="${tempMovie.cast}"></td>
            <td th:text="${tempMovie.category}"></td>
            <td th:text="${tempMovie.premiere}"></td>
            <td th:text="${tempMovie.duration}"></td>
            <td th:text="${tempMovie.language}"></td>
            <td th:text="${tempMovie.rated}"></td>
            <td th:text="${tempMovie.description}"></td>


            <!-- update functions -->
            <td>
                <a th:href = "@{/movies/showFormForUpdate(movieId = ${tempMovie.id})}" class = "btn btn-warning">
                    Update
                </a>
                <a th:href="@{movies/delete(movieId = ${tempMovie.id})}" class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Add a button -->
    <a th:href="@{movies/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
        Add Movie
    </a>
</div>

</body>
</html>



